.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

[href] {
    color: #434455;
}

button {
    cursor: pointer;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
     background-color: #404BBF;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 769px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media screen and (max-width: 767px) {
    .header-menu-list,
    .contacts {
        display: none;
}
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    justify-content: flex-start;
    padding: 16px 0;
    display: block;
}

.header-logo-studio {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-btn:hover,
.burger-btn:focus {
    display: none;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header-navigation {
        display: flex;
        align-items: center;
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .header-menu-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .header-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-menu-link.current {
        position: relative;
    }
    .header-menu-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }
    .header-menu-link:hover,
    .header-menu-link:focus,
    .header-menu-link.current {
        color: #404bbf;
    }
    .contacts {
        font-style: normal;
    }
    .contacts-menu-list {
        display: flex;
        gap: 12px;
        align-items: center;
        flex-direction: column;
    }
    
    .contacts-menu-link {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        padding: 16px 0;
        color: #434455;
    }
    .contacts-menu-link:hover,
    .contacts-menu-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .contacts-menu-list {
        gap: 40px;
        flex-direction: row;
    }
    .contacts-menu-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }

}
/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    background-color: transparent;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke-opacity: 0.1;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon-menu {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
    
}
.header-menu-mobile-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.header-menu-mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-mobile-link:hover,
.header-menu-mobile-link:focus {
    color: #404bbf;
}
.contacts-mobile {
    font-style: normal;
    display: block;
}

.contacts-menu-mobile-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 48px;
}

.contacts-menu-mobile-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts-menu-mobile-link:hover,
.contacts-menu-mobile-link:focus {
    color: #404BBF;
}
.soc-media-mobile-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.soc-media-mobile-item {
    width: 40px;
    height: 40px;
}

.soc-media-mobile-link {
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-media-mobile-link:hover,
.soc-media-mobile-link:focus {
    background-color:#404BBF;
}

.soc-media-mobile-icon {
    fill: #f4f4fd;
}

/* hero */
/* Section 1 */
.hero {
    background: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 767px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob.jpg);
}
@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x.jpg);
    }
}
.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    max-width: 216px;
}
.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    width: 169px;
    height: 56px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 72px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}


@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 1157px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }
        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x.jpg);
            }
    
        }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    .hero-button {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desc.jpg);
    }
        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desc-2x.jpg);
            }
    
        }
    .hero-button {
        margin-top: 48px;
    }
}

/* Section 2 */
@media (min-width: 200px) and (max-width: 1157px) {

    .features-icon-wrapper {
        display: none;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.features {
    padding-top: 96px;
    padding-bottom: 96px;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .features-list {
        /* gap: 24px; */
    }
    .features-item {
        flex-basis: calc((100% - 48px) / 2);
    }

}

@media screen and (min-width: 1158px) {

}