.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

[href] {
    color: #434455;
}

button {
    cursor: pointer;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
     background-color: #404BBF;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common */
.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 769px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 769px;
        padding: 0 15;
    }
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-menu-list,
.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    justify-content: flex-start;
    padding: 16px 0;
    display: block;
}

.header-logo-studio {
    color: #2E2F42;
}

/* @media screen and (min-width: 768px) {
    .container {
        
    }
}

@media screen and (min-width: 1158px) {
    .container {
        
    }
} */

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-btn:hover,
.burger-btn:focus {
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}

